#biodata{
    display: grid;
    background-color: rgb(47, 217, 240);
    color: rgb(17, 97, 97);
    width: 700px;
    height: 800px;
}
h1 h2 {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
}
h4 {
    text-align: left;
    margin: 10px 0px 0px 0px;
}
li {
    margin-top: -5%;
}
p {
    margin: 10px 20% 0px 0px;
}
ul {
    margin-top: 3%;
    gap: 10px;
}
p {
    margin: 0px 20% 0px 0px;
}
p {
    text-align: center;
    width: auto;
}